<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restricted</title>
</head>
<body>
    <h1>Welcome to Secure Auth</h1>
    <h3>Your secret message is : {{.SecretMessage}}</h3>

    <form action="" name="logout"></form>
    <form action="" name="deleteUser"></form>

</body>
</html>